.div-content{
    position: relative;
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-back {
    position: absolute;
    width: 450px;
    border-radius: 8px;
    z-index: 1;
}
.div-front{
    position: absolute;
    width: 450px;
    height: auto;
    padding: 40px 0;
    padding-bottom: 60px;
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    box-shadow: 0px 4px 69px rgba(0, 0, 0, .07);
    
}