.SectionBusquedaContraseña{
    width: 100%;
    height: 100vh;
    background: #EDEDED;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.BusquedaContraseña{
    background-color: #0D427425;
    transform: rotate(3deg);
}
.spiner{
    margin-top: 70px;
    margin-bottom: 70px;
    width: 80px;
    height: 80px;
    border-top: 9px solid #105DA5;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
.noencontrada{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
    width: 40px;
    height: 40px;
    border: 7px solid red;
    border-radius: 50%;
    
}
.noencontrada .l1, .l2{
position: absolute;

height: 7px;
background-color: red;
}
.noencontrada .l1{
    rotate: 45deg;
    
    animation:encon 1s linear forwards;     
}
.noencontrada .l2{
    rotate: -45deg;
    animation:encon 1s linear forwards;
    background-color: red;
    height: 7px;
}

@keyframes encon {
    0%{width: 0px;}
    80%{width: 40px;}
    100%{width: 30px;}
}

.encontrada{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 70px;
        margin-bottom: 70px;
        width: 80px;
        height: 80px;
        rotate: 45deg;
        border: 9px solid green;
        border-radius: 50%;
        
   
}
.encontrada .l1, .l2{
    position: absolute;
    height: 9px;
    background-color: green;
    }
    .encontrada .l1{
        
       
        
        margin-right: 30px;
        margin-top: 52px;
        animation:encon2 2s linear forwards;
             
    }
    .encontrada .l2{
      
        rotate: 90deg;
        animation:encon3 0.5s linear forwards;
       
    }

    @keyframes encon2{
        0% {width: 0px;}
        50%{width: 30px;}
        100%{width: 30px;}
        

    }
    @keyframes encon3{
        0% {width: 0px;}
        50%{width: 0px;}
        100%{width: 60px;}
        

    }