.sectionCambiarContraseña{
    width: 100%;
    height: 100vh;
    background: #EDEDED;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.CambiarContraseña{
    background-color: #0D427425;
    transform: rotate(3deg);
}