.section-login{
    width: 100%;
    height: 100vh;
    background: #EDEDED;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.redirections{
    margin-top: 3%;
    margin-left: 8px;
    width: 76%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
}
.sin-cuenta{
    display: flex;
    align-items: center;
    justify-content: center;
}
.enlace-registro,
.enlace-recuperacion{
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;

    color: #36AFC9;
}
.enlace-registro:hover,
.enlace-recuperacion:hover{
    color: #3693c9;
}
.enlace-registro:active,
.enlace-recuperacion:active{
    color: #105DA5;
}

.buttonT{
    margin-top: 0%;
    background:#105DA5;
    color: white;
    width: 76%;
    font-size: 24px;
    padding: 12px;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .6s;
}
.buttonT:hover{
    background:#0b4377;
}
.buttonT:active{
    background:#3b92e4;
}

